{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>

  <link href="{% static 'scripts/app/dist/static/css/app.css' %}" rel="stylesheet">
</head>
<body>
  {% block content %}
  {% endblock content %}

  <script type="text/javascript" src="{% static 'scripts/app/dist/static/js/manifest.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/app/dist/static/js/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/app/dist/static/js/app.js' %}"></script>
</body>
</html>
